*{
    margin: 0;
    padding: 0;
}
h1{
    background-color: #081b31;
    color:white ;
    height: 5rem;
line-height: 5rem;
text-align: center;
}
.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choice:hover{
    opacity: 0.5;
background-color: #691c2a;
cursor:grab;
}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.choices{
    display: flex;
    justify-content: center;
    align-content: center;
    gap:4rem;
    margin-top: 2rem;
}
.score-board{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:5rem;
    gap:3rem;
    color:#379777;
    font-size: 1.2rem;
    font-weight: bolder;
    font-family: 'Times New Roman';
    font-style: italic;
}
#user-score{
    font-size: 2.2rem;
    color:#F4CE14;
}
#comp-score{
    font-size: 2.2rem;  
    color:#F4CE14;
}
.msg-container{
    margin-top: 2rem;
}
#msg{
    background-color: #081b31;
    color:white;
    font-size:2rem;
    align-items: center;
    margin-left:26rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}